# Supabase Configuration
VITE_SUPABASE_URL=https://vmxarynyqtpovlhrymtx.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=

# AI / Groq Configuration (Optional)
VITE_GROQ_API_KEY=
VITE_GROQ_BASE_URL=https://api.groq.com/openai/v1
VITE_GROQ_MODEL=meta-llama/llama-prompt-guard-2-22m

# AI / Google Gemini Configuration (Receipt Scanner)
VITE_GEMINI_API_KEY=
VITE_GEMINI_MODEL=gemini-2.5-flash
